<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="urlforreqresin" value="https://reqres.in/" />
		<add key="testdatajsonfilepath" value="Data\\testdata.json" />
		<add key="nameInput" value="Alice" />
		<add key="jobInput" value="Alice" />
	</appSettings>
</configuration>