<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="browser" value="CHROME" />
		<add key="timeout" value="10" />
		<add key="username" value="Admin" />
		<add key="password" value="admin123" />
		<add key ="connectionstring" value="Server=.;Database=Classroom;Integrated Security=True" />
		<add key="urlfororangehrmlivecom" value="https://opensource-demo.orangehrmlive.com/web/index.php/auth/login" />
		<add key="urlforpracticetestautomationcom" value="https://practicetestautomation.com/practice-test-login/" />
		<add key="testdatajsonfilepath" value="Data\\testdata.json" />
		<add key="sqltimeout" value="60" />
		<add key="usernameforragepracticetestautomationcom" value="student" />
		<add key="passwordforragepracticetestautomationcom" value="Password123" />
		<add key="wrongusernameforragepracticetestautomationcom" value="incorrectUser" />
		<add key="wrongpasswordforragepracticetestautomationcom" value="Password" />
	</appSettings>
</configuration>